.App {
  margin: 2.5em;
}

.page-navigation {
  cursor: pointer;
  padding: 3em 0;
  text-align: center;
}

header > i.icon {
  display: block;
  margin-left: auto;
}

.home > p {
  font-size: 1.1em;
}

@media screen and (min-width: 800px) {
  .App {
      width: 50%;
      margin-left: auto;
      margin-right: auto;
  }
}